.coffee {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    .coffee__item {
        width: 25% !important;
        text-align: center;
        justify-content: center;
        background: rgba(255,255, 255, .8);
        // box-shadow: $box-shadow;
        border-radius: 5px;
        img {
            width: 100%;
        }
        .prices {
            .title {
                font-size: 1.8rem;
                font-weight: 600;
            }
            .price {
                font-size: 2.2rem;
                color: rgb(194, 59, 18);
            }
        }
    }
}